<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Template engine</title>
</head>
<body>
    <h1>this is ejs template</h1>
    <p><b>variable: </b> <%= name %></p>
    
</body>
</html>